/* Desktop */
@media (min-width:999px){
    .navbar-dark {
        background-color: #000000a1 !important;
    }
    
    .marginjudul{
        margin-left: -7rem;
    }
    .margin {
        margin-left: 10rem;
        margin-right: auto;
    }
    .nav-link {
        text-transform: uppercase;
        margin-right: 2rem;
        font-weight: bold;
        color: white;
    }
    .navbar-dark .navbar-nav .nav-link {
        color: white;
    }
    .marginuser {
        margin-right:-7rem ;
    }
    .background {
        background-image: url(IMG/bg\ image\ 1.jpg);
        background-size: cover;
        margin-top: -7rem;
    }
    .Title {
        color: #ffffff;
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 80px;
        line-height: 83px;
        text-align: center;
        letter-spacing: 3px;
        text-transform: uppercase;
        margin-top: 17rem;
    }
    .text {
        font-size: 24px;
        color: #ffffff;
        margin: 3rem 0;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        line-height: 28px;
        letter-spacing: 2px;
    }
    .btn-warning {
        width: 32.5vh;
        height: 7vh;
        padding: 1rem 0;
        font-weight: bold;
        font-size: 16px;
        background-image:linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);;
        border: 0;
        margin-bottom: 14rem;
    }
    .scroll {
        position: relative;
        margin-top: 6rem;
        color: #ffffff;
        transform: translateY(3rem);
        cursor: pointer;
    }
    .scroll p {
        font-size: 12px;
        font-weight: bold;
    }
    .scroll img {
        margin-top: -2rem;
    }
    .background-2{
        background-image: url("IMG/bg\ image\ 2.5.jpg");
        background-size: cover;
        margin-top: -2rem;
    }
    .header-2 {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        margin-top:10rem ;
        margin-bottom:10rem ;
        padding-right: 7rem;
    }
    .teks-content {
        margin-left: 5rem;
        margin-top: 2rem;
    }
   
   
    .carousel {
        left: -2rem;
    }
    .slide {
        margin-top: 4rem;
    }
    .carousel-inner img {
        width: 858px;
        height: 477px;
       
        
    }
    .prev ,.next {
        cursor: pointer;
    position: absolute;
    top: 96rem; 
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    }
    .carousel-control-prev {
        left: -1rem;
       
    }
    .carousel-control-next{
        right: -1rem;
    }
    
      .carousel-indicators li {
       border-radius: 100%;
       width: 14px;
       height: 14px;
       transform: translateY(1rem);
       margin-left: 2rem;
       background:none;
       border: 1.30637px solid #ffffff;
      }
      
      .background-3 {
          background-image: url("IMG/Group12.6.jpg");
          background-size: cover;
          margin-top: -2rem;
          padding: 10rem;
          
      }
      .header-3 {
          margin-top: 7rem;
          margin-bottom: 6rem;
      }
      .teks-judul {
          margin-left: 44.5rem;
          margin-bottom: 5rem;
      }
       .teks1{
        color: #ffffff;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 56px;
        line-height: 64px;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    .teks2 {
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 56px;
        line-height: 64px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
      .teks-feature {
          display: grid;
          grid-template-columns: 1fr 1fr;
          justify-items: right;
          margin-left: 12rem;
      }
      .list ul {
          display: flex;
          flex-direction: column;
      }

      .garis {
        cursor: pointer;
        height: 0px;
        width: 141.03px;
        transform: rotate(90deg);
        border: 1.95955px solid #FFFFFF;
        margin-left: -3.86rem;
        background-color: #ffffff;
        position: absolute;
        margin-right: 1rem;
        margin-top: 5rem; 
       
      }
      .teks1{
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 2px;
      }
      .teks-list {
          display: flex;
          flex-direction: column;
      }
      .lingkaran {
          margin-bottom: 8.4rem;          
      }
      .lingkaran1 {
        margin-bottom: 2rem;          
      }
      .lingkaran2 {
          margin-top: 2rem;
      }
      .list-content {
        color: #ffffff;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        text-align: justify;
        width: 80%;
      }
      .orange {
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 2px;        
        color: #FFB548;
      }
      .list-judul1{
          margin-top: -0.4rem;
      } 
      .list-judul2{
          margin-top: 3.1rem;
      }
      .list-judul3{
        margin-top: 2rem;
      }
      .background-4 {
          background-image: url("IMG/bg\ image\ 4.5.png");
          background-size: cover;
          padding-top: 7rem;
          padding-left: 7rem;
          padding-right: 7rem;
          padding-bottom:10rem;
          margin-top: -2rem;
      }
     .judul-4 {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
     }
     .judul-4 h3 {
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 2px;
        color: #FFFFFF;
        
     }   
     .system {
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 56px;
        line-height: 64px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #FFFFFF;
     }
     .back {
         background-image: url("IMG/disquette.svg");
         background-repeat: no-repeat;
         margin-top: 10rem;

     }
     .spek {
         color: #ffffff;
         display: grid;
         grid-template-columns: 20rem 20rem;
     }
     .spek1 {
        color: #ffffff;
        display: grid;
        grid-template-columns: 20rem 20rem;
     }
     .spek2 {
        color: #ffffff;
        margin-top: 5rem;
        transform: translateY(-2rem);
        margin-left: 1rem;
     }
     .os1 {
         margin-top: 0.5rem;
         margin-left: 1rem;
     }
     .os2 {
        margin-top: 0.5rem;
        margin-left: -2rem;
     }
     .oranye {
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 2px;       
        color: #FFB548;       
     }
     .uk {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
     }
     .top-score {
        background-image: url(img/bg\ image\ 3.jpg);
        background-size: cover;
        margin-top: -2rem;
    }
    
    .top-score h1 {
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 56px;
        line-height: 64px;
        letter-spacing: 3px;
        text-transform: uppercase;
    
        color: #FFFFFF;
    }
    
    .top-score h3 {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        /* or 122% */
        width: 24rem;
        margin-top: 1.5rem;
        color: #FFFFFF;
    }
    
    .top-score button {
        background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
        border-radius: 4px;
        width: 16.25rem;
        height: 3.75rem;
        margin-top: 3rem;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        color: #1A1917;
    }
    
    .top-score .card-body {
        background: rgba(255, 255, 255, 0.08);
        border-radius: 10px;
        width: 452.59px;
        height :182.94px;
    }
    
    .circle {
        width: 65.27px;
        height: 65.27px;
        background-color: #FFB548;;
        border-radius: 100%;
    }
    
    .card-body img {
        width: 65.27px;
        height: 65.27px;
        border-radius: 50%;
        margin-top: -0.3rem;
        margin-left: -0.3rem;
    }
    
    .card-body h3 {
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        /* identical to box height */
    
        letter-spacing: 2px;
        color: #FFB548;
    
    }
    
    .card-body h3 {
        margin-top: -0.1rem;
        margin-left: -1rem;
    }
    
    .card-body h4 {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        /* or 122% */
    
        text-align: justify;
    
        color: #FFFFFF;
    
        opacity: 0.5;
    
        margin-top: -0.9rem;
        margin-left: -0.9rem;
    }
    
    .icon-twt img {
        width: 18px;
        height: 14px;
        margin-left: 5rem;
    }
    
    .card-body h5 {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        margin-top: 1rem;
        color: #FFFFFF;
    }
    
    .date {
        color: #FFFFFF;
        opacity: 0.5;  
         
    }
    
    .card-body{
        margin-bottom: 1rem;
    }
    
    /* .tengah{
        margin-left: -8rem;    
    } */
    
    .apit{
        margin-left: 8rem;
    }
    
    .utama{
        margin-top: 8rem;
    }
    
    .utama .desc{
        margin-top: 10rem;
        margin-bottom: 20rem;    
    }
    .background-5 {
        background-color:  #080A0B;
        margin-top:-2rem;
        padding-top: 2rem;
        /* padding-left:10rem; */
        /* padding-right:10rem; */
        margin-bottom: -1rem;
    }
    .footer{
        display: flex;
        
    }
    .image {
        margin-left: 10rem;
    }
    .image img {
        border-radius: 100%;
    }
    .footer-content {
        width: 47%;
        margin-left: 10rem;
    }
    .footer-content h3 {
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 2px;
        color: #FFFFFF;
        margin-bottom: 2rem;
    }
    .footer-content h1 {
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 80px;
        line-height: 92px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 2rem;
    }
    .footer-content p {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
    }
    .link-footer{
        display: flex;
         margin-top:3rem;
         
    }
    .user {
        display: flex;
        margin-top: 2rem;
    }
    .user input {
        width: 366.92px;
        height: 60px;
        margin-right: 2rem;
    }
    .btn1 {
        height: 60.2510986328125px;
        width: 260px;
        border-radius: 4px;
        background-image:  linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
        
    }
    .border{
        width:87rem;
        height: 1px;
        margin-left:7rem;
        background-color: #ffffff;
        text-align:center;
        margin-top: 1rem;
    }
    .teks  {
        display: flex;
        list-style-type: none;
        margin-left: 13rem;
       margin-bottom: 2rem;
    }
    .teks li a {
        margin-left: 6rem;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        text-align: right;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .teks-gambar {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
    }
    .teks-gambar li a {
        margin-left: 3rem;
    }
    .copyrigth {
        display: flex;
        justify-content: space-between;
        padding-right: 6rem;
        padding-left: 7rem;
        margin-top: 2rem;
    }
     .copyrigth1{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;      
        color: #FFFFFF;
     }
     .copyrigth2{
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #FFFFFF;

     }
}